* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: black;
  padding-bottom: 8px;
}

.navbar .logo img {
  width: 90px;
  border-radius: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding-left: 5px;
}
navlinks ul {
  justify-content: center;
  gap: 43px;
  display: flex;
  padding-left: 375px;
  padding-top: 26px;
}

navlinks ul a {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  gap: 43px;
}

navlinks button a {
  color: black;
}

navlinks button {
  background-color: white;
  border-radius: 9px;
  border: none;
  padding: 5px;
}

navlinks button:hover {
  background-color: red;
  transition: background-color 0.1s;
}

.logo h2 {
  color: red;
  font-size: 29px;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0.03), rgba(0, 0, 0, 0.3)),
    url("./assets/herobar.jpg");
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.writeup {
  padding-top: 30px;
  background-color: black;
  border-top: 2px solid white;
  display: flex;
}

.writeup p {
  color: white;
  font-size: 20px;
  max-width: 700px;
  padding-left: 90px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.writeup p span {
  color: red;
  font-size: 40px;
}

.writeup p button {
  background-color: white;
  border: none;
  border-radius: 3px;
  margin-left: 300px;
  margin-top: 10px;
  padding: 8px 7px;
}

.writeup p button a {
  color: black;
  font-size: 14px;
  font-weight: bolder;
}

.writeup p button:hover {
  background-color: red;
  color: black;
}

.aboutimage img {
  border: 2px solid red;
  box-shadow: 0px 8px 8px  red;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 80px;
  max-width: 600px;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.articles {
  color: white;
  font-size: 25px;
  padding-bottom: 30px;
}
