/* .FAQ {
    padding: 50px;
    padding-top: 70px;
    max-width: 500px;
    font-family: sans-serif;
}

details {
    background-color: aqua;
    border-radius: 12px;
    padding: 8px 8px;
    border: 2px solid red;

}

summary {
    padding: 16px;
    font-weight: bolder;
    cursor: pointer;
}

summary ::after {
    float: right;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(226, 195, 195);
    padding: 40px 15px;
    color: red;
}

.FAQ-container {
    max-width: 800px;
    margin: auto;
    background-color: aqua;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.08);

}

.faq-title {
    font-size: 30px;
    margin-bottom: 15px;


}

.intro {
    margin-bottom: 24px;
    color: navy;
    line-height: 1.6;
}

.faq-item {
     border-bottom: 2px solid black;
    padding: 12px 0;
    cursor: pointer;
}

.faq-question {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question::-webkit-details-marker {
    display: none;

}

.faq-question::after {
    content: "+";
    font-size: 20px;
    color: brown;
    
}

.faq-item[open] .faq-question::after {
    content: "-";
}

.faq-answer {
    padding: 12px;
    color: red;
    line-height: 1.5;
}

.faq-answer p {
    max-width: 95%;
}