* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  background-color: black;
  padding-bottom: 8px;
}

.navbar .logo img {
  width: 90px;
  border-radius: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding-left: 5px;
}
navlinks ul {
  justify-content: center;
  gap: 43px;
  display: flex;
  padding-left: 375px;
  padding-top: 26px;
}

navlinks ul a {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  gap: 43px;
}

navlinks button a {
  color: black;
}

navlinks button {
  background-color: white;
  border-radius: 9px;
  border: none;
  padding: 5px;
}

navlinks button:hover {
  background-color: red;
  transition: background-color 0.1s;
}

.logo h2 {
  color: red;
  font-size: 29px;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0.03), rgba(0, 0, 0, 0.3)),
    url("./assets/herobar.jpg");
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.classes {
  margin-right: 30px;
  padding-bottom: 15px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 30px;
}

.classes img {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 29vw;
  height: 69vh;
  border-radius: 55px;
}
.classes h3 {
  color: red;
  padding-left: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.classes p {
  color: white;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-weight: bolder;
  padding-left: 10px;
}

.classes button {
  margin-left: 8px;
  background-color: white;
  margin-top: 11px;
  padding: 6px;
  border: none;
  border-radius: 3px;
}

.classes button a {
  font-weight: bolder;
  color: black;
  font-size: 16px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}


.classes h4 {
  color: aqua;
  padding-left: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}


.classes h2 {
  color: aqua;
  padding-left: 10px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.classhead {
  color: red;
  padding-left: 590px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.classhead span {
  color: white;
}

.yoga {
    border: 2px solid red;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: black;
    padding-left: 4px;
}

.boxing {
    border: 2px solid red;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: black;
    padding-left: 4px;
}

.seniorfitness {
    border: 2px solid red;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: black;
    padding-left: 4px;
}