* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


/* body {
  background:
    linear-gradient(rgba(0, 0, 0.03), rgba(0, 0, 0, 0.3)),
    url("./assets/herobar.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .headers {
  color: red;
  padding-left: 500px;
  padding-top: 30px;
}

.headers span {
  color: white;
} */


.basicplan .bx {
  font-size: 90px;
  padding-left: 70px;
}

.standardplan .bx {
  color: red;
  font-size: 90px;
  padding-left: 70px;
}

.premiumplan .bx {
  font-size: 90px;
  padding-left: 70px;
}

.pricingcontainer .bx {
  padding-bottom: 70px;
}

.navbar {
  display: flex;
  background-color: black;
  padding-bottom: 8px;
}

.navbar .logo img {
  width: 90px;
  border-radius: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding-left: 5px;
}
navlinks ul {
  justify-content: center;
  gap: 43px;
  display: flex;
  padding-left: 450px;
  padding-top: 26px;
}

navlinks ul a {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  gap: 43px;
}

navlinks button a {
  color: white;
}

navlinks button {
  background-color: red;
  border-radius: 9px;
  border: none;
  padding: 5px;
}

.logo h2 {
  color: red;
  font-size: 29px;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
