* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0.03), rgba(0, 0, 0, 0.3)),
    url("./assets/herobar.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headers {
  color: red;
  padding-left: 500px;
  padding-top: 50px;
}

.headers span {
  color: white;
}

.basicplan {
  border-radius: 25px;
  background-color: black;
  padding: 20px 25px;
}


.premiumplan {
  border-radius: 25px;
  background-color: black;
  padding: 20px 25px;
}

.pricingcontainer {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  padding-left: 175px;
}

.pricingcontainer :hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.15s;
}

.popular-field .amount {
  color: red;
  border: none;
  margin-right: 19px;
}

.popular-field {
  border: none;
  background-color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
}

.premiumplan .btn3 {
  margin-top: 18px;
  border-radius: 8px;
  padding: 6px 6px;
  border: none;
}
.premiumplan .btn3 a {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.premiumplan .btn3 :hover {
  background-color: red;
}

.basicplan .btn1 {
    margin-top: 18px;
  border-radius: 8px;
  padding: 6px 6px;
  border: none;
}

.basicplan .btn1 :hover {
    background-color: red;

}

.basicplan .btn1 a {
    color: black;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.popular-field .amount {
  margin-left: 60px;
}

.popular-field legend {
  background-color: white;
  border-radius: 15px;
  margin-left: 80px;
  padding: 5px 20px;
}
.basicplan .bx {
  color: red;
  font-size: 90px;
  padding-left: 70px;
}

.activities1 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  color: red;
}

.popular-field .activities {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  padding-top: 20px;
  color: red;
}

.activities3 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 20px;
  padding-top: 20px;
  color: red;
}

.amount3 {
  color: red;
  padding-left: 50px;
}

.amount1 {
  padding-top: 30px;
  color: red;
  margin-left: 55px;
}

.standardplan .bx {
  padding-top: 10px;
  padding-bottom: 10px;
  color: red;
  font-size: 90px;
  padding-left: 70px;
  margin-left: 35px;
}

.premiumplan .bx {
  color: red;
  font-size: 90px;
  padding-left: 70px;
}

.navbar {
  display: flex;
  background-color: black;
  padding-bottom: 8px;
}

.navbar .logo img {
  width: 90px;
  border-radius: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding-left: 5px;
}
navlinks ul {
  justify-content: center;
  gap: 43px;
  display: flex;
  padding-left: 400px;
  padding-top: 26px;
}

navlinks ul a {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  gap: 43px;
}

navlinks button a {
  color: white;
}

navlinks button {
  background-color: red;
  border-radius: 9px;
  border: none;
  padding: 5px;
}

.logo h2 {
  color: red;
  font-size: 29px;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
