* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0.03), rgba(0, 0, 0, 0.3)),
    url("./assets/herobar.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headers {
  color: red;
  padding-left: 500px;
  padding-top: 50px;
}

.headers span {
  color: white;
}

.basicplan {
  box-shadow: 0px 8px 8px red;
  border: 2px solid red;
  border-radius: 25px;
  background-color: black;
  padding: 20px 25px;
}

.premiumplan {
  box-shadow: 0px 8px 8px red;
  border: 2px solid red;
  border-radius: 25px;
  background-color: black;
  padding: 20px 25px;
}

.pricingcontainer {
  display: flex;
  gap: 30px;
  margin-top: 25px;
  padding-left: 175px;
}

.pricingcontainer :hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.15s;
}

.popular-field .amount {
  color: red;
  border: none;
  margin-right: 19px;
}

.popular-field {
  box-shadow: 0px 8px 8px red;
  border: 3px solid red;
  background-color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 15px;
}

.premiumplan .btn3 {
  margin-top: 69px;
  border-radius: 8px;
  padding: 6px 6px;
  border: none;
}
.premiumplan .btn3 a {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.popular-field .btn2 {
  margin-top: 70px;
  border-radius: 8px;
  padding: 6px 6px;
  border: none;
}

.popular-field .btn2 a {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.premiumplan .btn3 :hover {
  color: red;
  border: 2px solid black;
  padding: 8px 8px;
  border-radius: 12px;
}

.basicplan .btn1 {
  margin-top: 100px;
  border-radius: 8px;
  padding: 6px 6px;
  border: none;
}

.basicplan .btn1 :hover {
  color: red;
  border: 2px solid black;
  padding: 8px 8px;
  border-radius: 12px;
}

.popular-field .btn2 :hover {
  color: red;
  border: 2px solid black;
  padding: 8px 8px;
  border-radius: 12px;
}

.basicplan .btn1 a {
  color: black;
  font-size: 18px;
  font-weight: bolder;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.popular-field .amount {
  margin-left: 60px;
}

.popular-field legend {
  background-color: white;
  border-radius: 15px;
  margin-left: 75px;
  padding: 5px 20px;
}

.basicplan .bx {
  padding-top: 20px;
  color: red;
  font-size: 90px;
  padding-left: 70px;
}

.activities1 {
  padding-top: 20px;
  color: red;
}

.popular-field .activities2 {
  padding-left: 0px;
  padding-top: 20px;
  color: red;
}

.activities3 {
  padding-top: 20px;
  color: red;
}

.amount3 {
  padding-top: 20px;
  color: red;
  padding-left: 50px;
}

.amount1 {
  padding-top: 30px;
  color: red;
  margin-left: 55px;
}

.standardplan .bx {
  padding-top: 10px;
  padding-bottom: 10px;
  color: red;
  font-size: 90px;
  padding-left: 70px;
  margin-left: 35px;
}

.premiumplan .bx {
  padding-top: 30px;
  color: red;
  font-size: 90px;
  padding-left: 70px;
}

.navbar {
  display: flex;
  background-color: black;
  padding-bottom: 8px;
}

.navbar .logo img {
  width: 90px;
  border-radius: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  padding-left: 5px;
}
navlinks ul {
  justify-content: center;
  gap: 43px;
  display: flex;
  padding-left: 400px;
  padding-top: 26px;
}

navlinks ul a {
  font-size: 20px;
  font-weight: bolder;
  color: red;
  gap: 43px;
}

navlinks button a {
  color: black;
}

navlinks button {
  background-color: white;
  border-radius: 9px;
  border: none;
  padding: 5px;
}

navlinks button:hover { 
  background-color: red;
  transition: background-color 0.1s,
}

.footer {
  display: flex;
  background-color:  black;
  border-top: 2px solid red;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 100px;
}

.socials {
  padding-left: 18px;
}

.socials p {
  font-size: 20px;
  padding-top: 10px;
  color: red;
}

.footer h2 {
  color: white;
}

.listings1 {
  display: flex;
  gap: 15px;
  padding-top: 10px;
}

.newsletter p {
  font-size: 20px;
  color: red;
  padding-top: 10px;
  padding-bottom:10px;
}

.quicklinks ul a {
  padding-top: 10px;
  font-size: 20px;
  color: red;
} 

.quicklinks ul  {
  padding-top: 10px;
}


.contactus ul a {
  padding-top: 10px;
  color: red;
}


input {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
}

form button {
  padding: 8px 8px;
  border: none;
  border-radius: 4px;
}
 form button a {
  color: red;
  font-weight: bold;
}

form button:hover {
  background-color: white;
}

form button a:hover {
  color: black;
}





